[submodule "Uge/thirdparty/spdlog"]
	path = Uge/thirdparty/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "Uge/thirdparty/GLFW"]
	path = Uge/thirdparty/GLFW
	url = git@github.com:glfw/glfw.git
[submodule "Uge/thirdparty/imgui"]
	path = Uge/thirdparty/imgui
	url = git@github.com:ocornut/imgui.git
